.tetris-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}


.high-score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  width: fit-content;
  height: fit-content;
  font-family: 'Tetrominoes', monospace;

  z-index: 100;

  .modal-content {
    width: 300px; // Match game board width
    min-height: 600px; // Match game board height
    background: #9bbc0f;
    color: #306230;
    font-weight: bolder;

    padding: 20px;
    border: 5px solid #2c2c2cdb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Tetrominoes', monospace;


    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bolder;

    }
    p{
      font-size: 20px;
     
      font-weight: bolder;
    }

    .scores-list {
      margin: 20px 0;
      font-size: 20px;
      font-family: 'Tetrominoes', monospace;
      color: #306230;


      div {
        margin: 5px 0;
      }
    }

    input {
      background: #8bac0f;
      border: 2px solid #306230;
      padding: 5px;
      font-family: 'Tetrominoes', monospace;
      color: #306230;
      font-size: 20px;
      text-transform: uppercase;
      width: 100px;
      margin: 10px 0;
      font-weight: bolder;

    }

    button {
      background: #306230;
      color: #9bbc0f;
      border: 2px solid #2c2c2cdb;
      padding: 5px 15px;
      font-family: 'Tetrominoes', monospace;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        background: #407040;
      }
    }
  }
}

@font-face {
  font-family: 'Tetrominoes';
  src: url('../../../../../fonte/tetrominoes.ttf') format('truetype');
}

// Add this at the top level of your component
.svg-filters {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #8b8b8b;
  
  
}


.crt-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 101;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px;
  animation: flicker 0.15s infinite;
}

.crt-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../assets/staticEffect.png");
  background-size: cover;
  opacity: 0.06;
  mix-blend-mode: screen;
  animation: verticalNoise 0.3s infinite;
}

@keyframes flicker {
  0% { opacity: 0.3; }
  100% { opacity: 0.35; }
}

@keyframes verticalNoise {
  0% { transform: translateY(0); }
  20% { transform: translateY(-5%); }
  40% { transform: translateY(-20%); }
  60% { transform: translateY(20%); }
  80% { transform: translateY(40%); }
  100% { transform: translateY(0); }
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes invalidName {
  0%, 100% { background: #8bac0f; }
  50% { background: #ff0000; }
}

.invalid-name {
  animation: invalidName 0.5s ease-in-out;
}

.flash {
  animation: flash 0.25s;
}

.game-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px;
  min-width: 800px;
  border-radius: 20px;
  font-family: 'Tetrominoes', 'Courier New', monospace;
  
}


.game-board {
  border: 4px solid #2c2c2cdb;
  background-color: #9bbc0f;
  padding: 2px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  transform: perspective(800px);
  transform-origin: center center;
  padding:5px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #8bac0f;
  border-radius: 2px;
  image-rendering: pixelated;
  transition: opacity 0.2s ease-in-out;

  &.filled {
    background-color: #306230;
    
    &[style*="--piece-color: #404040"] {
      opacity: 0.5;
    }
  }

  &.fading {
    opacity: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.2);

  }

  &[style*="transparent"] {
    background-color: #8bac0f;
    border: 1px solid rgba(0, 0, 0, 0);
   
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }
}

.game-info {
  align-self: center;
  height: auto;
  margin: 0;
  padding: 20px;
  background-color: #8bac0f;
  border: 4px solid #2c2c2cdb;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  color: #306230;
  font-family: 'Tetrominoes', 'Courier New', monospace;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  //game over and next pieces
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .score, .high-score {
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #9bbc0f;
    font-weight: 900;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }

  .restart-btn {
    padding: 5px 10px;
    background-color: #306230;
    color: #9bbc0f;
    border: 2px solid #2c2c2cdb;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Tetrominoes', 'Courier New', monospace;
    text-transform: uppercase;
    text-transform: bold;
    font-size: 20px;

    &:hover {
      background-color: #407040;
    }
    margin: 10px auto;
  }
}

.next-piece-container {
  width: 120px;
  height: 360px;
  background-color: #8bac0f;
  padding: 5px;
  margin: 15px 0;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.next-piece-grid {
  .row {
    display: flex;
    
    .cell {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      
      &.filled {
        background-color: #306230;
      }
    }
  }
}

.virtual-controls {
  display: none; // Hidden by default
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {

  .game-content {

    gap: 40px;
    
  }  

  .crt-effect {
    position: absolute;
    top: -100%;
    left: -100%;
    width: 500%;
    height: 500%;
   
  }
  

.tetris-container {
  scale: 0.55;
  transform: translateY(-20%);
  padding-left: 18%;
  }

  .game-info {
    scale: 0.8;
    transform: translateX(4%);
  }  

  .score, .high-score {
    transform: translateY(300%);
  }

  .score {
    scale: 1.2;
    transform: translateY(250%);
  }

  //game over and next pieces
  h3 {
    transform: translateY(-70%);
  }

  
.game-board {
  scale: 1.38;
  transform: translateX(2%);
  transform: translateY(-1%);
  margin-left: 10px;;
}

.restart-btn {
  scale: 2;
  transform: translateY(160%);

}

.next-piece-container {
  transform: translateX(5%);
  margin-left: 4%;
  transform: translateY(5%);
  scale: 1.2;
}

  .virtual-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .d-pad .arrow, 
  .action-buttons .round-btn,
  .restart-btn {
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .d-pad {
    position: relative;
    width: 150px;
    height: 150px;

    .arrow {
      position: absolute;
      width: 50px;
      height: 50px;
      background: #303030;
      border: 2px solid #2c2c2cdb;
      color: #646464;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &.up { top: 5px; left: 50px; border-radius: 5px 5px 0 0; border: 0px;color: #777777; background: #f5000000; z-index: 9;}
      &.right { top: 50px; right: 5px; border-radius: 0 5px 5px 0;border:0px ; color: #777777; background: #f5000000;z-index: 9;}
      &.down { bottom: 5px; left: 50px; border-radius: 0 0 5px 5px; border: 0px;color: #777777; background: #f5000000;z-index: 9;}
      &.left { top: 50px; left: 5px; border-radius: 5px 0 0 5px; border: 0px;color: #777777; background: #f5000000;z-index: 9;}
      &.center-up { 
        pointer-events: none;
        top: -65px; 
        left: 50px;
        height: 175px;
        border-radius: 5px ;
        
        border: 0px ;
        cursor: default;
        &:active {
          background: #303030;
        }
      }
      &.center-side { 
      pointer-events: none;
        top: 50px; 
        left: -32px; 
        width: 175px;
        border: 0px ;
        border-radius: 5px ;
        cursor: default;
        &:active {
          background: #303030;
        }
      }


      &:active {
        background: #303030;
      }
      transform: translate(20%, 60%);
      scale: 0.75;
    }
  }

  .action-buttons {
    display: flex;
    gap: 20px;
    

    .round-btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #751717;
      border: 2px solid #2c2c2cdb;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f85555;
      font-size: 24px;
      font-style: bolder;
      font-family: 'Tetrominoes', 'Courier New', monospace;

      &:active {
        background: #a02020;
      }

      transform: translate(-50%, 80%);

      &.drop {
        transform: translate(-90%, -20%);
      }
    }
  }

  .high-score-modal {
    scale: 0.54;
    transform: translate(-114%, -109%);
    border: none;

   
    
    .modal-content {
      background: #a5ca0200;
      color: #306230;
      border: none;
      width: 400px;
      min-height: 800px;
      padding: 30px;
      
      h2 {
        font-size: 36px;
        margin-bottom: 30px;
      }
      
      p {
        font-size: 32px;
        margin-bottom: 20px;
      }
      
      .scores-list {
        margin: 30px 0;
        font-size: 32px;
        
        div {
          margin: 15px 0;
          padding: 5px;
        }
      }
      
      input {
        width: 200px;
        height: 50px;
        font-size: 32px;
        margin: 20px 0;
        padding: 10px;
      }
      
      button {
        font-size: 32px;
        padding: 15px 30px;
        margin-top: 20px;
        z-index: 9999;
        
        &:hover {
          transform: scale(1.05);
        }
        
        &:active {
          transform: scale(0.95);
        }
      }

      label {
        font-size: 32px;
        margin: 15px 0;
        display: block;
      }
    }
  }
}
